/* FONT FAMILIES */
@font-face {
font-family:
    'ClashDisplay-Regular';
    src:
        url('./font/ClashDisplay-Regular.ttf') format('truetype');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
}
@font-face {
    font-family: 'ClashDisplay-Semibold';
    src:
        url('./font/ClashDisplay-Semibold.ttf') format('truetype');
        font-weight: 600;
        font-display: swap;
        font-style: normal;
}
@font-face {
font-family:
    'ClashDisplay-Bold';
    src:
        url('./font/ClashDisplay-Bold.ttf') format('truetype');
        font-weight: 700;
        font-display: swap;
        font-style: normal;
}

/* ROOT CLASSES */
:root{
    /* COLORS */
    --black: #000000;
    --grey: #919191;
    --white: #ffffff;

    /* FONT WEIGHTS */
    --font-weight-normal: 400;
    --font-weight-semiBold: 600;
    --font-weight-bold: 700;

    /* FONT FAMILY */
    --font-family-normal: "ClashDisplay-Regular";
    --font-family-semiBold: "ClashDisplay-Semibold";
    --font-family-bold: "ClashDisplay-Bold";

    /* FONT SIZES */
    --text-sm: 1.2rem;
    --text-base: 1.6rem;
    --text-paragraph: 2rem;
    --text-h5: 2.4rem;
    --text-h4: 3.2rem;
    --text-h3: 4rem;
    --text-h2: 4.4rem;
    --text-h1: 6.5rem;

    /* HEADING COLORS */
    --heading-color: var(--black);
    --text-color: var(--black);

    /* MARGIN INLINE */
    --margin-inline-small: 0rem 2rem;
    --margin-inline-medium: 0rem 4rem;
    --margin-inline-large: 0rem 6rem;
    /* MARGIN BLOCK */
    --margin-block-small: 2rem 0rem;
    --margin-block-medium: 4rem 0rem;
    --margin-block-large: 6rem 0rem;

    /* MISCELLANEOUS */
    --nav-height: 100px; /* Update the value in the flexbox topic */

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ClashDisplay-Regular', 'ClashDisplay-Semibold' , 'ClashDisplay-Bold', 'Helvetica Neue', Arial, sans-serif;
}
html{
    font-size: 62.5%;
}
body {
    padding-top: calc(var(--nav-height) + 2rem);
    color: var(--text-color);
}
body {
    line-height: var(--line-height-normal);
    color: var(--black);
}
.container {
    max-width: 1310px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
h1, h2, h3, h4, h5 {
    font-family: var(--font-family-normal);
    font-weight: var(--font-weight-normal);
    color: var(--heading-color);
    line-height: var(--line-height-tight);
    letter-spacing: var(--letter-spacing-tight);
}
h1 {
    font-size: var(--text-h1);
    font-family: var(--font-family-bold);
    font-weight: var(--font-weight-bold);
}
h2 {
    font-family: var(--font-family-semiBold);
    font-size: var(--text-h2);
    font-weight: var(--font-weight-semiBold);
}
h3 {
    font-size: var(--text-h3);
}
h4 {
    font-size: var(--text-h4);
}
h5 {
    font-size: var(--text-h5);
}
p {
    font-size: var(--text-paragraph);
}
a {
    text-decoration: none;
    font-size: var(--text-base);
    display: inline-block;
}
a:link, a:visited {
    color: var(--black);
}
a:hover, a:active{
    color: var(--grey);
}
ul {
    list-style: none;
}
span {
    display: inline-block;
}
.small-text {
    font-size: var(--text-sm);
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------------------- COMPONENTS --------------------- */
.highlight {
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.highlight-primary {
    background-color: var(--black);
    margin-bottom: .2rem;
}
/* ----------------------- SECTIONS ----------------------- */

/* ------ NAVBAR ------ */
.navbar{
    height: var(--nav-height);
    justify-content: space-between;
    margin: var(--margin-block-small);
    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    position: fixed;
    top: 0%;
    width: 100%;
    backdrop-filter: blur(25px);
    z-index: 99;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 1px;
}
.navbar a>h1, .link{
    text-shadow: .4px .4px .4px rgba(255, 255, 255, 1);
}
.logo-mdn{
    margin:  var(--margin-inline-large);
}
.nav-links{
    gap: 10rem;
    margin: var(--margin-inline-large);
}
.link:hover{
    text-decoration: underline;
}
.link{
    display: block;
}
.icon{
    display: none;
}

/* ------ HEADER SECTION ------ */
.hero-section{
    height: calc(100vh - var(--nav-height));
    width: 100%;
    background: url("./assets/suits-production.jpg") center/cover no-repeat;
    margin-bottom: 15rem;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.text-over{
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    padding: var(--margin-inline-medium);
    position: absolute;
    bottom: 0rem;
    z-index: 2;
    margin-bottom: 2.5rem;
    opacity: 0.9;
}
.over-heading{
    color: #ffffff;
}
.bb{
    border-bottom: 1px solid var(--white);
    width: 100%;
    font-size: 5rem;
    border-bottom: 2px solid #fff;
}


/* ------------------- MAIN BODY ----------------------- */

/* --------- ACTORS SECTION -------- */
.actors-section{
    margin-bottom: 15rem;
}
.actor-heading{
    margin-bottom: 6rem;
}
.actors-rows{
    gap: 8rem;
    position: relative;
    margin-bottom: 6rem;
    /* background-color: #919191; */
}
.actor-row{
    gap: 8rem;
    animation: float 12s linear infinite;
    width: max-content;
}
.actor{
    flex-direction: column;
}
.actor-img{
    border-radius: 50%;
    width: 19rem;
}
@keyframes float {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}
.actor-name{
    text-align: center;
}
.blur-left{
    background: linear-gradient(90deg, #ffffff, transparent);
    z-index: 10;
    height: 100%;
    width: 15%;
    position: absolute;
    left: 0;
}
.blur-right{
    background: linear-gradient(90deg, transparent, #ffffff);
    z-index: 20;
    height: 100%;
    width: 15%;
    position: absolute;
    right: 0;
}


/* --------- ABOUT SECTION -------- */
.about-section{
    min-height: 80vh;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15rem;
}
.about{
    margin-bottom: 3rem;
}
.about-text{
    width: 48%;
}
.about-img{
    min-height: 70vh;
    max-width: 50rem;
    width: 100%;
    background: url("./assets/suits-poster.webp");
    background-size: cover;
    align-self: flex-end;
}


/* --------- MAIN CHARACTERS SECTION -------- */
.main-characters{
    margin-bottom: 15rem;
}
.main-char-heading{
    margin-bottom: 4rem;
}
.char-wrapper{
    height: 20vh;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid var(--black);
}
.char-wrapper:hover .char-img{
    scale: 1;
    opacity: 1;
}
.char-info{
    width: 90%;
    align-items: flex-start;
    justify-content: flex-start;
}
.num{
    margin-right: 5rem;
    text-decoration:dashed;
}
.char-name{
    width: 100%;
}
.char{
    margin-bottom: 2rem;
}
.one-liner{
    color: #919191;
    width: 90%;
}
.bbb{
    border-bottom: 1px solid var(--black);
}
.char-img{
    max-width: 18rem;
    width: 100%;
    background-size: cover;
    border-radius: 50%;
    scale: 0;
    opacity: 0;
    transition: all .3s ease-in-out;
}


/* --------- BEST DUO SECTION -------- */
.duo-heading{
    margin-bottom: 4rem;
}
.duo-wrapper{
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5rem;
    gap: 2rem;
}
.duo-img-port{
    max-width: 65rem;
    width: 100%;
}
.duo-img-land{
    max-width: 65rem;
    width: 100%;
    margin-bottom: 3rem;
}
.quote-wrap{
    padding: var(--margin-inline-medium);
}
.quote-head{
    margin-bottom: 2rem;
    color: #919191;
}
.quote{
    margin: var(--margin-inline-medium);
}
.big-duo-img{
    width: 100%;
}
.big-quote{
    text-align: center;
    font-size: 8rem;
    margin: var(--margin-block-medium);
}


/* --------- FOOTER SECTION -------- */
.moving-suits{
    gap: 8rem;
    border-top: 1.5px solid var(--black);
    border-bottom: 1.5px solid var(--black);
    height: 8rem;
}

.credits{
    margin: var(--margin-block-medium);
    text-align: center;
}